html {
  body {
    table {
      max-width: 400px;
      margin: 20px auto;
      table-layout: fixed;
      border-collapse: collapse;
      th,
      td {
        border-collapse: collapse;
      }
      button {
        background-color: #a8a8a8;
        color: #ffffff;
        height: 50px;
        width: 50px;
        background-size: cover;
        margin: -1px;
        border: none;
      }
      .pressed {
        background-color: #ffc400;
      }
      .ship {
        background-color: #fd3939;
      }
      .bounded {
        background-color: #28a745;
      }
    }
    .board {
      width: 500px;
      border: 4px grey solid;
    }
  }
}