html {
  body {
    table {
      max-width: 400px;
      margin: 20px auto;
      table-layout: fixed;
      border-collapse: collapse;
      border: 1px solid grey;
      th,
      td {
        border-collapse: collapse;
      }
      button {
        height: 45px;
        width: 45px;
      }
    }
  }
}