html {
  body {
    font-family: 'Courier Prime', monospace;
    h1 {
      color: #484848;
      margin: 30px auto;
      text-align: center;
      font-family: 'Bungee Inline', cursive;
      font-size: 72px;
    }
    table {
      max-width: 400px;
      margin: 20px auto;
      table-layout: fixed;
      border-collapse: collapse;
      th,
      td {
        border-collapse: collapse;
      }
      button {
        background-color: #7c7c7c;
        color: #ffffff;
        height: 50px;
        width: 50px;
        background-size: cover;
        margin: -1px;
        border: none;
      }
      .pressed {
        background-color: #ffc400;
      }
      .ship {
        background-color: #fd3939;
      }
      .bounded {
        background-color: #28a745;
      }
    }
    .board {
      width: 500px;
    }
  }
}